* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.16rem; }

a {
  text-decoration: none; }

img {
  width: 100%; }

ul li {
  list-style: none; }

#box {
  width: 100%; }

.head {
  width: 100%; }
  .head ul {
    padding: 0.08rem 0.09rem;
    display: flex;
    justify-content: space-between; }
    .head ul li:nth-child(1) {
      width: 35%; }
    .head ul li:nth-child(2) {
      display: flex;
      align-items: center;
      font-size: 0.18rem; }
    .head ul li:nth-child(3) {
      display: flex;
      align-items: center; }
      .head ul li:nth-child(3) div {
        padding: 0 0.06rem; }
        .head ul li:nth-child(3) div span {
          font-size: 0.225rem;
          color: #999; }
        .head ul li:nth-child(3) div p {
          font-size: 0.11rem;
          color: #999; }

.nav {
  width: 100%;
  height: 0.5rem; }
  .nav ul {
    display: flex;
    justify-content: center; }
    .nav ul .xian {
      color: #f4f4f4; }
    .nav ul li {
      padding: 0 0.1rem;
      font-size: 0.18rem; }
      .nav ul li span {
        font-size: 0.14rem;
        color: #999;
        margin-left: 0.1rem; }
      .nav ul li .icon-search {
        color: #3fcb97;
        font-size: 0.18rem; }

.tuwen {
  background: #f4f4f4;
  width: 100%; }
  .tuwen ul {
    width: 100%;
    display: flex;
    padding: 0.1rem 0.1rem; }
    .tuwen ul li {
      width: 50%;
      text-align: center;
      background: #fff;
      margin: 0 0.04rem; }
      .tuwen ul li img {
        width: 100%; }
      .tuwen ul li p:nth-child(2) {
        font-size: 0.16rem; }
      .tuwen ul li p:nth-child(3) {
        font-size: 0.10rem;
        color: #999; }
  .tuwen ul:nth-child(2) {
    padding: 0 0.1rem; }
  .tuwen .shangxia {
    width: 95%;
    margin: 0 auto; }
    .tuwen .shangxia ul {
      width: 100%;
      display: flex;
      justify-content: center; }
      .tuwen .shangxia ul li {
        text-align: center;
        height: 0.41rem;
        width: 33.33%;
        color: #fff;
        background: #39c893;
        line-height: 0.41rem; }
      .tuwen .shangxia ul li:nth-child(2) {
        background: #fff;
        color: #000; }

.fangxiansheng {
  width: 95%;
  margin: 0 auto; }
  .fangxiansheng p {
    padding: 0.18rem 0;
    text-indent: 2em;
    font-size: 0.14rem;
    color: #333;
    line-height: 0.26rem; }

.foot {
  width: 100%; }
  .foot .foot_dianhua {
    padding: 0.16rem 0;
    display: flex;
    justify-content: center; }
    .foot .foot_dianhua .iconfont {
      font-size: 0.16rem;
      color: #3CC793;
      margin-top: 0.07rem;
      display: block; }
    .foot .foot_dianhua span:nth-child(2) {
      font-size: 0.14rem;
      color: #333;
      display: block;
      display: flex;
      align-items: center; }
  .foot .foot_chuping {
    padding-bottom: 0.16rem; }
    .foot .foot_chuping ul {
      display: flex;
      justify-content: space-around; }
      .foot .foot_chuping ul li:nth-child(1) {
        color: #3CC793; }
  .foot .foot_xiaxie {
    padding-bottom: 0.16rem;
    text-align: center; }

.guanggao {
  width: 100%;
  height: 0.53rem;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  bottom: 0.2rem; }
  .guanggao .foot_yi {
    display: flex; }
    .guanggao .foot_yi .baojia {
      display: flex;
      align-items: center; }
      .guanggao .foot_yi .baojia img {
        width: 80%; }
    .guanggao .foot_yi .anniu {
      width: 1.8rem;
      height: 0.28rem;
      background: #FEB605;
      font-size: 0.14rem;
      color: #fff;
      line-height: 0.25rem;
      border-radius: 1rem;
      display: flex;
      align-self: center;
      justify-content: center;
      margin-right: 0.2rem; }

/*# sourceMappingURL=item4.css.map */
