@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.16rem;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
ul li{
    list-style: none;
}
#box{
    width: 100%;
}
.head{
    width: 100%;
    ul{
        padding: 0.08rem 0.09rem;
        display: flex;
        justify-content: space-between;
        li:nth-child(1){
            width: 35%;
        }
        li:nth-child(2){
            display: flex;
            align-items: center;
            font-size: 0.18rem;
        }
        li:nth-child(3){
            display: flex;
            align-items: center;
            div{
                padding: 0 0.06rem;
                span{
                    font-size: 0.225rem;
                    color: #999;
                }
                p{
                    font-size: 0.11rem;
                    color: #999;
                }
            }
        }
    }
}
.nav{
    width: 100%;
    height: 0.5rem;
    ul{
        display: flex;
        justify-content: center;
        .xian{
            color: #f4f4f4;
        }
        li{
            padding: 0 0.1rem;
            font-size: 0.18rem;
            span{
                font-size: 0.14rem;
                color: #999;
                margin-left: 0.1rem;
            }
            .icon-search{
                color: #3fcb97;
                font-size: 0.18rem;
            }
        }
    }
}
.tuwen{
    background: #f4f4f4;
    width: 100%;
    ul{
        width: 100%;
        display: flex;
        padding:  0.1rem 0.1rem;
        li{
            width: 50%;
            text-align: center;
            background: #fff;
            margin: 0 0.04rem;
            img{
                width: 100%;
            }
            p:nth-child(2){
                font-size: 0.16rem;
            }
            p:nth-child(3){
                font-size: 0.10rem;
                color: #999;
            }
        }
    }
    ul:nth-child(2){
        padding: 0 0.1rem;
    }
    .shangxia{
        width: 95%;
        margin: 0 auto;
        ul{
            width: 100%;
            display: flex;
            justify-content: center;
            li{
                text-align: center;
                height: 0.41rem;
                width: 33.33%;
                color:#fff;
                background: #39c893;
                line-height: 0.41rem;
            }
            li:nth-child(2){
                background: #fff;
                color: #000;
            }
        }
    }
}
.fangxiansheng{
    width: 95%;
    margin: 0 auto;
    p{
        padding: 0.18rem 0;
        text-indent: 2em;
        font-size: 0.14rem;
        color: #333;
        line-height: 0.26rem;
    }
}
.foot{
    width: 100%;
    .foot_dianhua{
        padding: 0.16rem 0;
        display: flex;
        justify-content: center;
        .iconfont{
            font-size: 0.16rem;
            color: #3CC793;
            margin-top: 0.07rem;
            display: block;
        }
        span:nth-child(2){
            font-size: 0.14rem;
            color: #333;
            display: block;
            display: flex;
            align-items: center;
        }
    }
    .foot_chuping{
        padding-bottom: 0.16rem;
        ul{
            display: flex;
            justify-content: space-around;
            li:nth-child(1){
                color: #3CC793;
            }
        }
    }
    .foot_xiaxie{
        padding-bottom: 0.16rem;
        text-align: center;
    }
}
.guanggao{
    width: 100%;
    height: 0.53rem;
    background: rgba(0,0,0,0.8);
    position: fixed;
    bottom: 0.2rem;
    .foot_yi{
        display: flex;
        .baojia{
        display: flex;
        align-items: center;
        img{
            width: 80%;
        }
    }
    .anniu{
        width: 1.8rem;
        height: 0.28rem;
        background: #FEB605;
        font-size: 0.14rem;
        color: #fff;
        line-height: 0.25rem;
        border-radius: 1rem;
        display: flex;
        align-self: center;
        justify-content: center;
        margin-right:0.2rem ;
        }
    }
}